.playlistcontainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    min-height: 300px;
    flex-wrap: wrap;
    background-color: red;
    margin: 50px 0;
}
.samplecontainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    min-height: 200px;
    overflow-x: scroll;
    background-color: blue;
}
.sampleitem{
    min-width: 200px;
    height: 200px;
    background-color: yellow;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.playlistitem{
    width: 230px;
    height: 340px;
    background-color: green;
    margin: 19px;
    display: table-column;
}

.playlistimg{
    height: 62%;
    margin: 10px 10px 5px 10px;
    position: relative;
}

.psongcontainer{
    height: 100px;
    margin: 0px 10px;
    position: relative;
    background-color: aqua;
}