.playlistcontainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
    min-height: 10px;
    overflow-y: auto;
    background-color: red;
}